.l-date-picker{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 3px;
    box-shadow: 1px 1px #ccc;
    width: 15rem;
    text-align: center;
    overflow: hidden;

    .l-date-picker-wrapper{

        .l-date-picker-header{
            display: flex;
            flex-direction: row;
            background-color: #ccc;
            padding: 0 .3rem;
            height: 2rem;
            line-height: 2rem;
    
            .l-tool{
                width: 2rem;
            }
    
            .l-selected-area{
                flex: 1;
                display: flex;
                flex-direction: row;
    
                span{
                    flex: 1;
                    font-weight: 600;
                }
            }
        }
    
        .l-date-picker-days{
            .l-date-picker-days,.l-date-picker-weeks{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
    
                .day-item,.week-item{
                    flex-grow: 1;
                    flex-basis: 2rem;
                    flex-shrink: 0;
                    height: 2rem;
                    line-height: 2rem;
                }
    
                .day-item {
                    border-radius: .2rem;
    
                    &:not(.invalid){
                        cursor: pointer;
                        font-weight: 500;
    
                        &:hover {            
                            background-color: rgb(219, 206, 206);
                        }
    
                        &:active {
                            background-color: #4d8acc;
                        }
                    }
    
                    &.invalid {
                        color: #6c757d;
                        opacity: .5;
                    }
    
                    &.active {
                        background-color: #007bff;
                        color: #ffffff;
                    }
                }
            }
            
            .l-date-picker-weeks{
                border-bottom: 1px solid #ccc;
                font-weight: bold;
            }
        }

        .l-date-picker-hours,.l-date-picker-minutes{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: .2rem;
    
            .hour-item{
                flex-grow: 1;
                flex-basis: 3.71rem;
                flex-shrink: 0;
                height: 2.3rem;
                line-height: 2.3rem;
                border-radius: .2rem;
    
                &:hover {            
                    background-color: rgb(219, 206, 206);
                    cursor: pointer;
                }
    
                &:active {
                    background-color: #4d8acc;
                }

                &.minute-item{
                    flex-basis: 7.4rem;
                }
            }
        }

        &.absolute{
            position: absolute;
            left: 0;
            top: 0;

            .l-date-picker-header{

                .l-goback{
                    width: 3rem;
                }
            }
        }
    }


}